body{
  background-color: pink;
}
/* 
#console{
  overflow-y: scroll;
  border: '1px solid';
  max-height: '50px';
  width: '428px';
  margin: '10px 0 0 0';
} */

/* #test-display{
  overflow-y: scroll;
  border: '1px solid';
  max-height: '50px';
  width: '428px';
  margin: '10px 0 0 0';
} */